<div id="<%= dom_id ticket %>">
  <p>
    <strong>Nome:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Identificador:</strong>
    <%= ticket.seat_id_seq %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= ticket.address %>
  </p>

  <p>
    <strong>Valor Pago:</strong>
    <%= ticket.price_paid %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ticket.email_address %>
  </p>
  <p>
    <strong>Telefone/WhatsApp:</strong>
    <%= ticket.phone %>
  </p>
</div>
