<div id="<%= dom_id event %>">
  <p>
    <strong>Artist:</strong>
    <%= event.artist %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Preco a partir de:</strong>
    <%= event.price_low %>
  </p>

  <p>
    <strong>Preco ate:</strong>
    <%= event.price_high %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

</div>
